<div style="padding: 10px; border: 1px solid gray; background: lightyellow">
  <div style="color: gray">{{changeDetectionStrategy}}</div>
  <div style="text-align: center; font-weight: bold;">App component</div>
  <form style="text-align: none;"
        action="">
    <hr>
    <input type="radio"
           name="cdStrategy"
           (change)="detach()">Detached<br>
    <input type="radio"
           name="cdStrategy"
           (change)="reattach()"
           checked>Reattached<br>
    <hr>
  </form>
  <button (click)="doCheck()">Do check</button>
  <div style="padding: 10px; display: flex; flex-direction: row">
    <div style="padding: 10px; border: 1px solid gray; flex: 1 1; background: lightpink;">
      <app-a1 #appA1></app-a1>
    </div>
    <div style="padding: 10px; border: 1px solid gray; flex: 1 1; background: lightskyblue;">
      <app-a2>
      </app-a2>
    </div>
  </div>
</div>
{{onCheck()}}
